html, #main, #app-container {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #00008b !important;
  height: 100%;
}

.title-text {
  font-size: 80px;
  line-height: 85px;
  text-align: center;

  width: 65vw;

  color: #FFFFFF;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 100%;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
}

// various containers
.welcome-container {
  background-image: url('../images/spy_squad.jpg');
  background-position: center;
  background-size: cover;
}

.join-game-container {
  background-image: url('../images/spy_squad.jpg');
  background-position: center;
  background-size: cover;
}

.pre-game-container {
  background-image: url('../images/smoking_spy.jpg');
  background-position: center;
  background-size: cover;
}
