$spy-red: #BB0000;
$resistance-blue: #0B71AB;

html, #main, #app-container {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #00008b;
  height: 100%;
}

.title-text {
  font-size: 80px;
  line-height: 85px;
  text-align: center;

  max-width: 700px;

  color: #FFFFFF;
  text-shadow: 0px 0px 10px #000000;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 100%;
}

.vertical-flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 100%;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
}

.horizontal-flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.bottom-navigation {
  button {
    font-size: 20px;
    height: 45px;
    width: 150px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .negative {
    background-color: $spy-red;
    border-color: $spy-red;
  }
}

.hidden {
  visibility: hidden;
}

// various containers
.welcome-container, .join-game-container, .create-game-container {
  background-image: url('../images/spy_squad.jpg');
  background-position: center;
  background-size: cover;
}

.join-game-container, .create-game-container {
  .input-container {
    width: 500px;
    input {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.lobby-container {
  background-image: url('../images/smoking_spy.jpg');
  background-position: center;
  background-size: cover;

  height: 100%;

  .shade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: rgba(0, 0, 0, 0.65);

    height: 100%;

    .sessionID {
      width: 100%;
      padding: 0px 50px 0px 50px;
      font-size: 30px;
      color: white;
      text-shadow: 0px 0px 12px #000000;
    }

    .message {
      color: white;
      font-size: 25px;
    }

    .playerID-grid {
      color: white;
      text-shadow: 0px 0px 10px #000000;
      font-size: 25px;
      
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      
      .playerID-column {
        margin: 0px 20px 0px 20px;
        min-width: 220px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;

        .creatorPlayerID {
          color: yellow;
          font-weight: bold;
        }

        .placeholderID {
          font-style: italic; 
        }
      }
    }
  }
}

.in-game-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;

  .game-board-container {
    background-image: url('../images/smoking_spy.jpg');
    background-position: center;
    background-size: cover;

    height: 100%;
    width: 100%;

    .shade {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      background-color: rgba(0, 0, 0, 0.65);

      height: 100%;

      .top-text {
        color: white;
        height: 30px;
        text-shadow: 0px 0px 10px #000000;
        font-size: 18px;
      }

      .missions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .mission {
          color: white;

          height: 100px;
          width: 100px;
          border-radius: 50px;
          margin: 0px 10px 0px 10px;

          border: solid;
          border-color: white;
          border-width: 4px;

          display: flex;
          justify-content: center;
          align-items: center;
        }

        .succeeded {
          background-color: $resistance-blue;
        }

        .failed {
          background-color: $spy-red;
        }

        .current {
          box-shadow: 0px 0px 10px lightblue;
          text-shadow: 0px 0px 10px lightblue;
          border-color: lightblue;
        }
        
      }

      .failed-votes {
        color: white;
      }

      .player-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 157.3px;

        .player-card {
          width: 100px;
          height: 143px;

          margin: 0px 7px 0px 7px;

          background-image: url('../images/card_back.png');
          background-size: cover;
          background-position: center;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .playerID {
            color: white;
            padding: 0px 3px 0px 3px;
            background-color: rgba(0, 0, 0, 0.5);
            font-size: 16px;
          }

          .player-vote {
            box-shadow: 0px 0px 10px black;
            text-align: center;
            color: white;
            margin-top: 10px;
            height: 26px;
            width: 45px;
            border-radius: 3px;
          }

          .yes {
            background-color: $resistance-blue;
          }

          .no {
            background-color: $spy-red;
          }
        }

        .hoverable.selected:hover {
          box-shadow: 0px 0px 10px $resistance-blue;
        }

        .hoverable.not-selected:hover {
          box-shadow: 0px 0px 10px lightblue;
          width: 102px;
          height: 145.86px;
          margin: 0px 6px 0px 6px;
        }

        .selected {
          box-shadow: 0px 0px 10px white;
          width: 110px;
          height: 157.3px;
        }
      }
    }
  }

  .selecting-team-container {
    width: 80%;
    height: 100%;
  }

  .voting-on-team-container {
    width: 80%;
    height: 100%;

    .missions {
      opacity: 0.5;
    }

    .failed-votes {
      opacity: 0.5;
    }

    .shade {
      background-color: rgba(0, 0, 0, 0.80);
    }

    .player-cards {
      .not-selected {
          opacity: 0.5;
      }
    }
  }

  .viewing-votes-container {
    width: 80%;
    height: 100%;
  }

  .mission-container {
    width: 80%;
    height: 100%;

    .missions {
      opacity: 0.5;
    }

    .failed-votes {
      opacity: 0.5;
    }

    .shade {
      background-color: rgba(0, 0, 0, 0.80);
    }

    .player-cards .not-selected {
      opacity: 0.5;
    }
  }        

  .team-reveal-container {
    background-image: url('../images/smoking_spy.jpg');
    background-position: center;
    background-size: cover;

    height: 100%;
    width: 100%;

    .shade {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      background-color: rgba(0, 0, 0, 0.65);

      height: 100%;

      .directions {
        color: white;
      }

      .player-card {
        width: 170px;
        height: 243.1px;

        margin: 0px 7px 0px 7px;
        border-radius: 4px;

        .card-text {
          color: white;
          padding: 0px 3px 0px 3px;
          background-color: rgba(0, 0, 0, 0.5);

          font-size: 16px;
        }
      }
      .mystery {
        background-image: url('../images/card_back.png');
        background-size: cover;
        background-position: center;

        display: flex;
        justify-content: center;
        align-items: center;
      }
      .flipped {
        background-color: white;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .top-icon {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;

          width: 100%;        
        }

        .bottom-icon {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;

          width: 100%;
        }

        .icon-spy {
          background-image: url('../images/clip_art_knife.png');
          background-size: cover;
          background-position: center;

          height: 40px;
          width: 40px;

          margin: 5px;
        }

        .icon-resistance {
          background-image: url('../images/clip_art_fist.png');
          background-size: cover;
          background-position: center;

          height: 40px;
          width: 40px;

          margin: 5px;
        }

        .direction {
          font-size: 14px;
          font-style: italic;
          text-align: center;
        }

        .faction-name  {
          font-size: 25px;
        }

        .spy {
          color: red;
        }

        .resistance {
          color: $resistance-blue;
        }

        .other-spies-list {
          font-size: 14px;
          color: red;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .chat-container {
    color: white;
    background-color: #AAAAAA;
    width: 20%;
    height: 100%;

    // temporary formatting to put this text in the center
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .chat-history {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 100%;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 20px;
  }

  .chat-input {
    height: 5%;
    width: 100%;
  }

  .chat-user {
    color: $resistance-blue
  }

  .chat-message {
    padding: 1px;
  }

}